/* common shared css styles */
* {
  margin: 0;
  padding: 0;
}
p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
button {
  background: #f00;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 15px 28px;
  cursor: pointer;
  transition: all 1s;
}
button:hover {
  background-color: #fd2453;
}
.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.section-heading {
  max-width: 500px;
}

/* banner section starts here */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px auto 120px auto;
  text-align: center;
  border-radius: 10px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin: 20px auto;
}
.banner-text p {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}
.banner-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 59px;
  font-weight: 800;
  line-height: 77px;
}
/* Offer Section Styles starts here */
#offer {
  margin-bottom: 200px;
}
.offer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-main h2 {
  color: #f00;
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}
.offer-main p {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-main h3 {
  color: #070211;
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 38px;
}
.offer-main .offer-img {
  height: 410px;
}
.offer-main .offer-img img {
  width: 100%;
}

/* welcome style starts here */
.welcome-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/new-year-met.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 400px;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 420px;
  margin-left: 110px;
}
.welcome-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 52px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 5.5px;
  margin-bottom: 10px;
}
.welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.welcome-text h4 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

/* information styles starts here */
#information {
  margin: 80px 0;
}
.information-content {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 20px auto;
}
.information-content .information-title {
  color: #f00;
}
.information-content p {
  color: #070211;
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 44px;
}
.information-content .join-now-btn {
  margin-top: 30px;
}
.comming-soon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.left-container {
  margin-top: 120px;
}
.comming-soon-container .left-container * {
  margin-bottom: 10px;
}
.left-container h5 {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
.left-container h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 38px;
  font-weight: 800;
}
.left-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.comming-soon-container .comming-soon-img {
  height: 370px;
}
.right-container {
  margin-top: 120px;
}
.right-container h3 {
  color: #f00;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
.right-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 22px;
}
.comming-soon-container .comming-soon-img2 {
  width: 50%;
}

/* portfolio styles here */
#portfolio {
  margin: 220px 0 100px 0;
}
.portfolio-heading {
  max-width: 630px;
  margin-bottom: 30px;
}
.portfolio-heading h5 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.portfolio-heading h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 14px;
}
.portfolio-heading p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.img-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.img-container .image img {
  width: 100%;
}
/* newsletter styles starts here */
.newsletter-main {
  background-color: rgba(255, 0, 0, 0.05);
  padding: 100px 0;
  border-radius: 10px;
}
.newsletter-heading {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.newsletter-heading * {
  margin-bottom: 15px;
}
.newsletter-icon {
  height: 150px;
}
.newsletter-heading h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-weight: 800;
}
.newsletter-heading p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#newsletter form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
}
#newsletter form input {
  flex-grow: 1;
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}
.newsletter-btn{
  border-radius: 0 50px 50px 0;
}

/* footer style starts here */
#footer{
  background-color: #070211;
  padding: 100px 0;
  margin: 100px 0 0 0 ;
}
.footer-sec1{
  display: flex;
  justify-content: space-between;
  
}
#footer p{
color: #FFF;
font-family: Inter;
font-size: 16px;
font-weight: 500;
}
.phone{
  display: flex;
}
.phone-icon{
  margin-right: 10px;
}
.web{
  display: flex;
}
.web-icon{
  margin-right: 10px;
}
.hr-style{
  margin-top: 30px;
}
.hr-style hr{
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-sec2{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.footer-sec2 img{
  margin-right: 20px;
  width: 5%;
}
.footer-sec3{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
